/* Neste documento contem as cores a serem usadas */

$first-color: #0B316D; //cor de fundo do menu
$second-color: #28DADA; //cor dos botões
$third-color: #afaeae;
$background: #929292c6;  //cor de fundo
$text-background: #404040;